* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
}

.cont {
  display: grid;
  width: 600px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0.2px solid black;
}

.player-piece {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  background-size: cover;
  transition: all linear 0.5s;
  border: none; /* Remove the border */
}

/* 
.color-box {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #000;
} */
.color-box {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: cover;
  transition: all linear 0.5s;
  border: none;
}


.player-piece-container {
  position: absolute;
  left: 450px;
  top: 635px;
}


img {
  position: relative;
  top: -615px;
  left: 8px;
  /* z-index: -1; */
  margin: 0;
  width: 615px;
  height: 615px;
}
#diceCont {
  position: absolute;
  top: 400px;
  left: 10px;
  background-image: url('wood_texture.png');
  background-size: cover;
  padding: 20px;
  border: 2px solid #8B4513;
  border-radius: 10px;
  width: 250px;
}
#playerOptions {
  position: absolute;
  top: 200px;
  left: 10px;
  background-image: url('wood_texture.png');
  background-size: cover;
  padding: 20px;
  border: 2px solid #8B4513;
  border-radius: 10px;
  width: 250px;

  color: white;

}

#playerSelectOptions {
  position: absolute;
  top: 300px;
  left: 10px;
  background-image: url('wood_texture.png');
  background-size: cover;
  padding: 20px;
  border: 2px solid #8B4513;
  border-radius: 10px;
  width: 250px;
  color: white;
} 

#startGameBtn {
  background-color: green;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 12px;
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Funky font */
  position: absolute;
  top: 450px;
  left: 80px;
}

#tog {
  text-align: center;
  color: white;
  font-size: 18px;
}
#diceBtn {
  z-index: 99;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(75, 140, 197);
  border-radius: 5px;
  width: 200px;
}

@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}

body{
  background: #f0f0f0;
}
.container{
  perspective: 500px;
  perspective-origin: 50% 50%;
  font-family: 'fontawesome';
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .cube{
  position: relative;
  left: 165%;
  top: 75%;
  height: 60px;
  width: 60px;
  transform-style: preserve-3d;
  cursor: pointer;
  animation: roll 4s linear infinite;
}
.container .cube div{
  position: absolute;
  box-sizing: border-box;
  padding: 9px;
  height: 60%;
  width: 60%;
  border:2px solid #000;
  color: #000;
}
.container .cube div span{
  font-size: 8px;
  font-family: 'fontawesome';
}
.container .cube .front{
  background: #f0f0f0;
  transform: translateZ(6px);
}
.container .cube .back{
  background: #f0f0f0;
  transform: translateZ(-30px) rotateY(180deg);
}
.container .cube .right{
  background: #f0f0f0;
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(30px);
}
.container .cube .left{
  background: #f0f0f0;
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-30px);
}
.container .cube .top{
  background: #f0f0f0;
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-30px);
}
.container .cube .bottom{
  background: #f0f0f0;
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(30px);
}

/*DOT ALIGNMENT */
.container .cube .front span,.container .cube .left span:nth-child(1),
.container .cube .right span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.container .cube .top span:nth-child(1),.container .cube .left span:nth-child(2),
.container .cube .right span:nth-child(2),
.container .cube .bottom span:nth-child(1){
  position: absolute;
  top: 4px;
  left: 4px;
}
.container .cube .top span:nth-child(2),.container .cube .left span:nth-child(3),
.container .cube .right span:nth-child(3),
.container .cube .bottom span:nth-child(2){
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.container .cube .right span:nth-child(4),
.container .cube .bottom span:nth-child(3){
  position: absolute;
  top: 4px;
  right: 4px;
}
.container .cube .right span:nth-child(5),
.container .cube .bottom span:nth-child(4){
  position: absolute;
  bottom: 4px;
  left: 4px;
}
.container .cube .back pre {
  font-size: 4px;
  font-family: 'fontawesome';
  margin: 0;
}
.container .cube .back .firstPre {
  position: absolute;
  top: 3px;
  left: 2px;
}
.container .cube .back .secondPre {
  position: absolute;
  bottom: 3px;
  right: 2px;
}
@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateY(90deg) rotateZ(180deg);
  }
}
.player-name {
  font-size: 18px;
  font-weight: bold;
  color: #FF5733; 
  background-color: #F7DC6F; 
  border: 2px solid #E74C3C; 
  padding: 5px 10px; 
  border-radius: 5px; 
  margin-right: 10px; 
}




h1 {
  font-size: 36px; 
  color: #FF4500; 
  text-align: center; 
  text-transform: uppercase; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
  animation: wavyText 2s infinite;
}

@keyframes wavyText {
  0% {
      transform: skewY(1deg);
  }
  50% {
      transform: skewY(-1deg);
  }
  100% {
      transform: skewY(1deg);
  }
}


.player-name.active-player {
  color: lightcyan;
}

